<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <title>Enter Ticker</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <span style="color: hsl(206, 86%, 62%)">OnlyStocks</span>
             <button 
                class="navbar-toggler" 
                type="button"
                data-bs-toggle="collapse" 
                data-bs-target="#navbarNav"
                aria-controls="navbarNav" 
                aria-expanded="false"
                aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li><a class="nav-link" th:href="@{'/marketmovers/' + ${username}}"> MARKET MOVERS </a></li>
                    <li><a class="nav-link" th:href="@{'/watchlist/' + ${username}}"> WATCHLIST </a></li>
                    <li><a class="nav-link" th:href="@{'/enterticker/' + ${username}}"> QUOTES </a>
                    <li><a class="nav-link" th:href="@{/}">LOG OUT</a></li>
                </ul>
             </div>
        </div>
    </nav>
    <br>
    <h2 style="color: hsl(210, 75%, 2%);text-align: left"> Enter Ticker: </h2> 

    <form
    action="#"
    th:action="@{'/quotes/' + ${username}}"
    th:object="${quotes}"
    method="get">
    <p>
        Name: 
        <input type="text" th:field="*{ticker}" placeholder="ENTER TICKER">
    </p>
    <p>
       <input type="submit" value="SEARCH"/>
    </p>
    </form>

    


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>    
</body>
</html>