<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <title>Error Page</title>
</head>
<body onload="setTimeout(function(){document.location = '/'}, 6000)">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" 
    crossorigin="anonymous">
    </script>
    <br>
    <br>
    <br>
    <br>
    <div class = "text-center">
        <br>
        <h1 class="my-5 display-5 fw-bold " style="color: hsl(210, 6%, 7%); text-align: center">
        &#9940 Your watchlist is empty! &#9940
        <br>
        Please add a stock into your watchlist before accessing this page!
        </h1>
        <p>You will be redirected to the login page shortly</p>
        <a th:href="@{/}"><span class="text-decoration-underline" style="color: hsl(206, 86%, 62%); text-align: center">CLICK TO RETURN HOME</span></a>
    </div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>  
</body>
</html>

