<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <title>MARKET MOVERS</title>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <span style="color: hsl(206, 86%, 62%)">OnlyStocks</span>
             <button 
                class="navbar-toggler" 
                type="button"
                data-bs-toggle="collapse" 
                data-bs-target="#navbarNav"
                aria-controls="navbarNav" 
                aria-expanded="false"
                aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li><a class="nav-link" th:href="@{'/marketmovers/' + ${username}}"> MARKET MOVERS </a></li>
                    <li><a class="nav-link" th:href="@{'/watchlist/' + ${username}}"> WATCHLIST </a></li>
                    <li><a class="nav-link" th:href="@{'/enterticker/' + ${username}}"> QUOTES </a>
                    <li><a class="nav-link" th:href="@{/}">LOG OUT</a></li>
                </ul>
             </div>
        </div>
    </nav> 
    <hr>

    <h2 style="color: hsl(206, 86%, 62%)"> S&P 500 Market Movers </h2>
    <br>
 
    <h4 class="fw-bold ls-tight" style="color: hsl(0, 0%, 3%);text-align: left"> Biggest Gainers </h4>
    <br> 

        <table class="table table-sm" id="marketmoverstable" style="border: 3px solid black; text-align: center;">
            
            <tr>
                <th><h5> Symbol </h5></th>
                <th><h5> % Change </h5></th>
                <th><h5> Description </h5></th>
                <th><h5> Total Volume </h5></th>
                <th><h5> Last Price </h5></th>
            </tr>

            <tr th:each="marketmovers: ${UpMovers}">
                <td th:text="${marketmovers.symbol}"></td>
                <td th:text="${#numbers.formatDecimal(marketmovers.change*100,1,2) + '%'}"></td>
                <td th:text="${marketmovers.description}"></td>
                <td th:text="${marketmovers.totalVolume}"></td>
                <td th:text="${marketmovers.last}"></td>  
            </tr>
        </table>
  

    <br>
    <h4 class="fw-bold ls-tight" style="color: hsl(0, 0%, 3%);text-align: left"> Biggest Losers </h4>
    <br>
        
        <table class="table table-sm" id="marketmoverstable2" style="border: 3px solid black; text-align: center;">
            
            <tr>
                <th><h5> Symbol </h5></th>
                <th><h5> % Change </h5></th>
                <th><h5> Description </h5></th>
                <th><h5> Total Volume </h5></th>
                <th><h5> Last Price </h5></th>
            </tr>

            <tr th:each="marketmovers2: ${DownMovers}">
                <td th:text="${marketmovers2.symbol}"></td>
                <td th:text="${#numbers.formatDecimal(marketmovers2.change*100,1,2) + '%'}"></td>
                <td th:text="${marketmovers2.description}"></td>
                <td th:text="${marketmovers2.totalVolume}"></td>
                <td th:text="${marketmovers2.last}"></td> 
            </tr>
        </table> 
            
        
    
    
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>     
</body>
</html>