<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <title>Show Quotes</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <span style="color: hsl(206, 86%, 62%)">OnlyStocks</span>
             <button 
                class="navbar-toggler" 
                type="button"
                data-bs-toggle="collapse" 
                data-bs-target="#navbarNav"
                aria-controls="navbarNav" 
                aria-expanded="false"
                aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li><a class="nav-link" th:href="@{'/marketmovers/' + ${username}}"> MARKET MOVERS </a></li>
                    <li><a class="nav-link" th:href="@{'/watchlist/' + ${username}}"> WATCHLIST </a></li>
                    <li><a class="nav-link" th:href="@{'/enterticker/' + ${username}}"> QUOTES </a>
                    <li><a class="nav-link" th:href="@{/}">LOG OUT</a></li>
                </ul>
             </div>
        </div>
    </nav> 
    <br>
    <br>
    <h1 style="color: hsl(206, 86%, 62%)"> Stock Data</h1> 

    <div th:object="${quotes}">

        <hr>
        <p>
            <p>Stock Price of:</p>
            <p th:text="*{symbol}"></p>
            <br>
            <p>Last Price:</p>
            <p th:text="*{lastPrice}"></p> 
            <br>
            <p>Total Volume:</p>
            <p th:text="*{totalVolume}"></p>
            <br>
            <p>Open Price:</p>
            <p th:text="*{openPrice}"></p>
            <br>
            <p>Close Price:</p>
            <p th:text="*{closePrice}"></p>
            <br>
            <p>Low Price:</p>
            <p th:text="*{lowPrice}"></p>
            <br>
            <p>High Price:</p>
            <p th:text="*{highPrice}"></p>
            <br>
            <p>Net Change:</p>
            <p th:text="*{netChange}"></p>
            <br>
            <p>52 Week High:</p>
            <p th:text="*{fiftyTwoWkHigh}"></p>
            <br>
            <p>52 Week Low:</p>
            <p th:text="*{fiftyTwoWkLow}"></p>
        </p>
    </div>
    <!-- should use href here and button or jsut use <input type="submit" value="Save"/> -->

    <form 
    action="#" 
    th:action="@{'/add/' + ${username}}" 
    th:object="${quotes}"
    method="post" >

        <input type="hidden" th:field="${quotes.symbol}"></input>
        <input type="hidden" th:field="${quotes.fiftyTwoWkHigh}"></input>
        <input type="hidden" th:field="${quotes.fiftyTwoWkLow}"></input>
        <input type="hidden" th:field="${quotes.lastPrice}"></input>

    <button type="submit">Add</button>
   
    </form>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>      
</body>
</html>

