<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <title>WATCHLIST</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <span style="color: hsl(206, 86%, 62%)">OnlyStocks</span>
             <button 
                class="navbar-toggler" 
                type="button"
                data-bs-toggle="collapse" 
                data-bs-target="#navbarNav"
                aria-controls="navbarNav" 
                aria-expanded="false"
                aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li><a class="nav-link" th:href="@{'/marketmovers/' + ${username}}"> MARKET MOVERS </a></li>
                    <li><a class="nav-link" th:href="@{'/watchlist/' + ${username}}"> WATCHLIST </a></li>
                    <li><a class="nav-link" th:href="@{'/enterticker/' + ${username}}"> QUOTES </a>
                    <li><a class="nav-link" th:href="@{/}">LOG OUT</a></li>
                </ul>
             </div>
        </div>
    </nav> 
    <br>
    <br>
    <h1>Watchlist ❤️</h1> 
    
    <table id="mywatchlist">
        <tr>
            <th><h3> Symbol </h3></th>
            <th><h3> 52 Week High </h3></th>
            <th><h3> 52 Week Low </h3></th>
            <th><h3> Last Price </h3></th>

        </tr>
        <div th:object ="${watchlist}">
            <!--changed from *{listOfQuotes} to ${listOfQuotes}-->
            <tr th:each="quotes: *{listOfQuotes}">
                <td th:text="${quotes.symbol}"></td>
                <td th:text="${quotes.fiftyTwoWkHigh}"></td>
                <td th:text="${quotes.fiftyTwoWkLow}"></td>
                <td th:text="${quotes.lastPrice}"></td>
                <td> 
                    <a th:href="@{'/delete/'+ ${username} + '/' + ${quotes.symbol}}">
                    <button type="button">Delete</button>
                    </a>
                </td>
            </tr>
            
        </div>
    </table>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>  
</body>
</html>